<div class="row m-4">
  <div class="col-md-6">
    <a routerLink="/produits" class="btn btn-info">
      <i class="fa fa-arrow-circle-left"></i> Retourner à la liste des produits
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group float-right">
      <a class="btn btn-primary mr-1" routerLink="/produits/modifier/{{prod.id}}">
        <i class="fa fa-pencil"></i> Modifier
      </a>
      <a class="btn btn-danger ml-1" (click)="deleteProduit()">
        <i class="fa fa-trash"></i> Supprimer
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12 m-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">{{prod.designation}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-3">
          <div class="list-group">
            <li class="list-group-item"><i class="nc-icon nc-minimal-right"></i> Référence : {{prod.reference}}</li>
            <li class="list-group-item"><i class="nc-icon nc-minimal-right"></i> Marque : {{marque.designation}}</li>
            <li class="list-group-item"><i class="nc-icon nc-minimal-right"></i> Catégorie : {{categorie.libelle}}</li>
            <li class="list-group-item"><i class="nc-icon nc-minimal-right"></i> Quantité totale : {{prod.quantite_totale}}</li>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img class="img-thumbnail" src="{{categorie.image}}" alt="Pas d'image">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let car of caracterisitiques" class="col-md-4" style="width: 18rem;">
      <div class="card text-center ">
        <div class="card-body">
          <h6 class="card-title">{{car.libelle}}</h6>
          <div class="card-text">
            <div class="btn-group float-right">
              <a class="btn btn-primary mr-1" routerLink="/caracteristiques/modifier/{{car.id}}">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn btn-danger ml-1" (click)="deleteCaractFromProduit(car.id)">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-default" (click)="formeCacheChange()">
      <i class="large fa fa-plus"></i> Ajouter/Modifier ses caractéristiques
    </a>
    <div *ngIf="!formeCache" class="container">
        <form #f="ngForm" (ngSubmit)="addCaract()" >
        <div>
          <label class="font-weight-bold" for="caracteristiques">Choisir l'un ou plusieurs caractéristiques de ce produit s'il existe :</label>
          <div class="form-group">
            <select class="custom-select" id="caracteristiques" name="caracteristiques" [(ngModel)]="caracterisitiques" multiple>
              <option [ngValue]="c"  *ngFor="let c of Allcaracterisitiques">{{c.libelle}}</option>>
            </select>
          </div>
          <small class="text-muted">
            Si la ou les caractérsitiques de ce produit ne figurent pas dans cette liste, vous pouvez les ajouter par
            <a routerLink="/caracteristiques/nouvelle">ici</a>.
          </small>
        </div>
          <div class="text-center">
            <button class="btn btn-success mr-1" type="submit">Confirmer</button>
            <button class="btn btn-danger mr-1" type="button" (click)="formeCacheChange()">Annuler</button>
          </div>
        </form>
    </div>
  </div>
</div>

