<div class="row m-4">
  <div class="col-md-12">
    <a routerLink="/pannes" class="btn btn-info">
      <i class="fa fa-arrow-circle-left"></i> Retourner à la liste des produits défectueux
    </a>
  </div>
</div>

<div class="row m-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="nc-icon nc-minimal-right"></i> Produit défectueux
        </h4>
        <form #f="ngForm" (ngSubmit)="add()" >

          <div class="form-group">
            <label for="produit">Produit</label>
            <select
              name="produit"
              id="produit"
              class="form-control"
              [(ngModel)]="panne.produit">
              <option *ngFor="let t of allproduct" [value]="t.id" [selected]="panne.produit==t.id">{{ t.designation }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="quantite">Quantité :</label>
            <input type="number" id="quantite" name="quantite" class="form-control" placeholder=""
                      #quantite="ngModel" [(ngModel)]="panne.quantite" required minlength="5"
                      [ngClass]="{'is-invalid': quantite.errors && quantite.touched}">
            <small class="text-muted" *ngIf="quantite.errors?.required" class="invalid-feedback">
              La quantité des produits défectueux est nécessaire.
            </small>
          </div>


          <div class="text-center">
            <button [disabled]="!f.valid" class="btn btn-success mr-1" type="submit">Sauvegarder</button>
            <button [disabled]="!f.valid" class="btn btn-default mr-1" (click)="saveandadd()">Sauvegarder et ajouter d'autres produits défectueux</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
