<div class="row m-4">
<div class="col-md-6">
  <a routerLink="/tiers" class="btn btn-info">
    <i class="fa fa-arrow-circle-left"></i> Retourner à la liste des prestataires (fournisseur)
  </a>
</div>
<div class="col-md-6">
  <div class="btn-group float-right">
    <a class="btn btn-primary mr-1" routerLink="/tiers/modifier/{{tier.id}}">
      <i class="fa fa-pencil"></i> Modifier
    </a>
    <a class="btn btn-danger ml-1" (click)="deleteTier()">
      <i class="fa fa-trash"></i> Supprimer
    </a>
  </div>
</div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12 m-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">{{tier.raison_sociale}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-3">
          <div class="list-group">
            <li class="list-group-item"><i class="nc-icon nc-briefcase-24"></i> &nbsp; Secteur/specialité : {{tier.specialite}}</li>
            <li class="list-group-item"><i class="nc-icon nc-chat-33"></i> &nbsp; Telephone :  <a [href]="'tel:' + tier.telephone" target="_blank">{{tier.telephone}}</a></li>
            <li class="list-group-item"><i class="nc-icon nc-email-85"></i> &nbsp; Adresse mail :  <a [href]="'mailto:' + tier.mail" target="_blank">{{tier.mail}}</a></li>
            <li class="list-group-item"><i class="nc-icon nc-world-2"></i> &nbsp; Adresse :  {{tier.adresse}}</li>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img class="img-thumbnail" src="{{tier.logo}}" alt="Pas d'image">
      </div>
    </div>
  </div>
</div>
