<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">En cours de chargement...</p>
</ngx-spinner>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><button class="btn btn-primary btn-round">Réclamations</button></h4>
        <div class="row">
        <div class="col-md-12">
          <button class="btn btn-outline-primary btn-round float-right" routerLink="/reclamations/nouvelle">
            <i class="nc-icon nc-simple-add"></i> Nouveau réclamation
          </button>
        </div>
          <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12 float-right">
          <div class="input-group mb-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Tapez le nom d'agent qui a fait la récalamation">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table *ngIf="reclamations" class="table table-striped">
            <thead>
            <tr>
              <th class="text-center">Agent</th>
              <th class="text-center">Date</th>
              <th class="text-center">Etat</th>
              <th class="text-center">Description</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of reclamations | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter :searchText">
              <td class="text-center">
                {{p.agent}}
              </td>
              <td class="text-center">{{p.date |  date:'dd/MM/yyyy - HH:mm'}}</td>
              <td class="text-center">
                <button [class]="getEtatClass(p.etat)" (click)="ChangeEtat(p.id)" [disabled]="p.etat!=0">
                  <i [class]="getIconClass(p.etat)"></i> &nbsp;
                  <span class="text-capitalize" *ngIf="p.etat=='0'">En attente</span>
                  <span class="text-capitalize" *ngIf="p.etat=='1'">En cours de traitement</span>
                  <span class="text-capitalize" *ngIf="p.etat=='2'">Clôturée</span>
                </button>
              </td>
              <td class="text-center">
                <button class="btn" (click)="DetailReclamation(p.id)">
                  <i class="nc-icon nc-paper"></i>
                </button>
              </td>
              <td class="text-center">
                <a class="btn btn-danger" (click)="deleteReclamation(p.id)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="length_data"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
