<div class="row m-4">
  <div class="col-md-12">
    <a routerLink="/interventions" class="btn btn-info">
      <i class="fa fa-arrow-circle-left"></i> Retourner à la liste des intervenantes
    </a>
  </div>
</div>

<div class="row m-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="nc-icon nc-minimal-right"></i> Prestataire intervenant
        </h4>
        <form #f="ngForm" (ngSubmit)="add()" >
          <div class="form-group">
            <label for="prestataire">Entreprise :</label>
            <select
              name="prestataire"
              id="prestataire"
              required
              class="form-control"
              [(ngModel)]="externe.prestataire">
              <option *ngFor="let r of tiers" [value]="tiers.indexOf(r)" [selected]="externe.prestataire==tiers.indexOf(r)">{{ r.raison_sociale }}</option>
            </select>
          </div>
          <div class="text-center">
            <button [disabled]="!f.valid" class="btn btn-success mr-1" type="submit">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
