<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav footer-main-links row text-center text-uppercase">
                <li class="nav-item col-6 col-md">
                  <a routerLink="/marques">Marques</a>
                </li>
              <li class="nav-item col-6 col-md">
                <a routerLink="/categories">Catégories</a>
              </li>
              <li class="nav-item col-6 col-md">
                <a routerLink="/caracteristiques">Caractéristiques</a>
              </li>
              <li class="nav-item col-6 col-md">
                <a routerLink="/pieces">Pièces</a>
              </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
         ORMVA/TF &copy; {{test | date: 'yyyy'}}
        </div>
    </div>
</footer>
